.grp-mem{
    display: flex;
    flex-wrap: wrap;
}
.grp-mem a{
    padding-right: 15px;
    text-decoration: underline;
    font-size: 15px;
    color: #0ac0ff;
    font-family: var(--Inter);
}
.grp-mem a:hover{
    color: var(--text-dark-blue);
}