/* sign-in-page */
a{
    cursor: pointer;
}
.cm-signin-page {
    background-color: var(--Sign-bg);
    position: relative;
    overflow-x: hidden;
    -ms-overflow-x:hidden;
}
.bg-signin {
    min-height: 100vh;
    height: 100%;
    padding: 37px 0px;
}
.cm-signin-page .cm-signin-image {
    background: url('../images/signin-image.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    padding: 37px 0px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.cm-signin-page .cm-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cm-signin-page .cm-logo img {
    height: 88px;
    width: auto;
}

.cm-signin-page .user-login-fields .signin-title {
    font-size: 36px;
    font-weight: 600;
    font-family: var(--Poppins);
    line-height: 44px;
    color: var(--Text-black);
    margin-bottom: 6px;
    text-align: center;
}

.cm-signin-page .user-login-fields .sub-text {
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: 29.2px;
    color: var(--Text-black);
    margin-bottom: 38px;
    text-align: center;
}

.cm-signin-page .user-login-fields .email-field,
.cm-signin-page .user-login-fields .password-field {
    width: 400px;
}

.cm-signin-page .user-login-fields .email-field input,
.cm-signin-page .user-login-fields .password-field input {
    width: 100%;
    height: 100%;
    background-color: var(--bg-white);
    border: 1px solid var(--Light-grey);
    border-radius: 10px;
    padding: 25px;
}

.cm-signin-page .user-login-fields .email-field input::placeholder,
.cm-signin-page .user-login-fields .password-field input::placeholder {
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 14.5px;
    color: var(--Carbon-grey);
}

.cm-signin-page .recover-details label {
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--Rangoon-Green);
    letter-spacing: 0.3px;
    padding-left: 8px;
}

.cm-signin-page .recover-password a {
    font-family: var(--Poppins);
    font-weight: 300;
    font-size: 14px;
    line-height: 14.5px;
    color: var(--Persian-Red);
}

.cm-signin-page .login-button a {
    background-color: var(--Gold-Drop);
    color: var(--Text-white);
    padding: 20px 55px;
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: 14.5px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
    border: 1px solid var(--Gold-Drop);
}
.cm-signin-page .login-button a:hover{
    border: 1px solid var(--Gold-Drop);
    background: transparent;
    color: var(--Gold-Drop);
}

.cm-signin-page .login-button {
    margin-top: 35px;
    text-align: center;
}

.cm-signin-page .email-field {
    padding-bottom: 38px;
}

.cm-signin-page .password-field {
    padding-bottom: 21px;
}

.cm-signin-page  .cm-signin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.cm-signin-page  .cm-signin-form  .recover-details {
    display: flex;
    justify-content: space-between;
}
.cm-signin-page  .stock-resources {
    max-width: 90%;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 242, 242, 0.13);
    backdrop-filter: blur(70px);
    margin: 0px auto 0px auto;
    padding: 40px 32px 32px 32px;
}
.cm-signin-page .top-notch-btn a{
    pointer-events: none;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--Roboto);
    color: var(--Text-white);
    background-color: var(--bg-dark-blue);
    border-radius: 10px;
    padding: 10px 17px;
    display: inline-block;
}
.cm-signin-page .top-notch-btn a img{
    padding-right: 12px;
}
.cm-signin-page  .stock-resources p{
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--Text-white);
    padding-top: 25px;
}
.circle-gradient {
    height: 353px;
    width: 353px;
    background: rgba(32, 220, 73, 0.20);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    position: absolute;
    top: -84px;
    right: -50px;
}


/* Responsive styles */
@media(max-width:575px){
    .topbar .navbar-brand .img-fluid {
        height: 50px !important;
    }
    .CM-main-content {
        padding: 37px 15px 0px 15px !important;
    }
}
@media(max-width:400px){
    .cm-signin-page .user-login-fields .email-field, .cm-signin-page .user-login-fields .password-field {
        width: 100%;
    }
}
