.single-img-con{
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 20px;
    margin-bottom: 80px;
    box-shadow: 0px 4px 4px 0px rgba(228, 234, 240, 20%);
}
.sic-header {
    padding-bottom: 25px;
}
.sic-header h3{
    font-size: 18px;
    font-family: var(--Inter);
    font-weight: 600;
    color: var(--text-dark-blue);
    margin-bottom: 0;
}

.sic-img-info{
    background-color: #FAFBFC;
    padding: 27px 20px;
    font-size: 18px;
    font-family: var(--Inter);
    font-weight: 700;
    color:var(--bg-dark-blue);
    border-radius: 6px;
}
.sic-img-info ul{
    gap:20px 00px;
}
.sic-img-info ul li{
    position: relative;
    padding-right: 60px;
}
.sic-img-info ul li::before{
    content: '|';
    position: absolute;
    right:27px;
    color:inherit;
    top: 50%;
    transform: translateY(-46%);
}
.sic-img-info ul li:last-child::before{
    display: none;
}


.sic-src-wrap{
    max-width: 1356px;
    margin: 21px auto 26px;
}
.sic-src-wrap img{
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.sic-action-btns{
    gap: 20px;
}
.sic-action-btns .btn{
    border-radius: 10px;
    font-family: var(--Poppins);
    font-size: 18px;
    line-height: 15.5px;
    padding: 15px 38px;
    transition: all 0.5s ease;
    text-transform: capitalize;
}
.sic-action-btns .btn.create-task{
    border:1px solid #538053;
    background-color: #538053;
    color:#fff;
}
.sic-action-btns .btn.create-task:hover{
    border:1px solid #538053;
    background-color: transparent;
    color:#538053;
}

.sic-action-btns .btn.link-asset{
    border:1px solid #716E6B;
    background-color: #716E6B;
    color:#fff;
}
.sic-action-btns .btn.link-asset:hover{
    border:1px solid #716E6B;
    background-color: transparent;
    color:#716E6B;
}


.sic-action-btns .btn.download{
    border:1px solid #EB8205;
    background-color: #EB8205;
    color:#fff;
}
.sic-action-btns .btn.download:hover{
    border:1px solid #EB8205;
    background-color: transparent;
    color:#EB8205;
}





@media(max-width:767px){
    .sic-img-info ul li{
        padding-right: 0;
    }
    .sic-img-info ul li::before{
        display: none;
    }
}