/* campaigns-contents */
.campaigns-contents {
    padding-top: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.common-table  {
    margin-top: 20px;
}

 .campaigns-title h3 {
    font-size: 18px;
    font-family: var(--Inter);
    font-weight: 600;
    color: var(--text-dark-blue);
    margin-bottom: 0;
}

.campaigns-contents input {
    width: 410px;
    border-radius: 10px;
    font-size: 15px;
    font-family: var(--chivo);
    border: 0;
    font-weight: 400;
    background-color: var(--bg-white);
    background-image: url('../images/search-icon.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 12.5px 20px 12.5px 40px;
    box-shadow: 0px 4px 9px 0px rgba(54, 62, 147, 11%);
}

.common-table table {
    width: 100%;
}

.common-table  .table-wrapper {
    overflow-x: auto;
}

.common-table  thead th span {
    font-family: var(--Inter);
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}
.common-table  tbody td span {
    font-family: var(--Inter);
    font-size: 15px;
    font-weight: 400;
    color: #3A3A49;
}
td.campaingn-title span{
    color: var(--Gold-Drop) !important;
}

.common-table  table tbody {
    display: block;
    height: calc(100vh - 300px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.common-table  table tbody{

}
.common-table  table tbody{
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}
.common-table  table tbody tr,
.common-table  table thead tr {
    display: flex;
    align-items: stretch;
    text-align: left;
    width: 100%;
    border-radius: 8px;
}



.common-table  table thead tr {
    background-color: #F9F9FB;
    border: 1px solid #D5D5D5;
}

.common-table  table tbody tr {
    border: 1px solid #E9EFF4;
    margin: 5px 0;
    background: var(--bg-white);
}

.common-table  table tbody tr td,
.common-table  table thead tr th {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 100px;
}

.common-table  table thead tr th {
    border-right: 1px solid #D5D5D5;
    color: #898989;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 15px;
}

.common-table  table tbody tr td {
    font-weight: 400;
    color: #3A3A49;
    font-size: 14px;
    padding: 15px 20px;
}


.common-table  table thead tr th:last-child {
    border-right: 0 !important;
}

td.folder,
th.folder {
    min-width: unset !important;
    flex: unset !important;
    justify-content: center;
    width: 70px !important;
}

td.campaingn-title,
th.campaingn-title {
    min-width: 239px !important;
}

td.description,
th.description {
    min-width: 300px !important;
    max-width: 700px;
    flex: 4 !important;
}

td.active,
th.active {
    min-width: 300px !important;
}
.common-table  tr td:has(img){
   justify-content: center;
}
.common-table  tr img{
    width: 150px;
}

.action-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.view-btn {
    background-color: #EB8205;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 3px 15px;
    border: 1px solid #EB8205;
}

.view-btn:hover {
    border: 1px solid #EB8205;
    color: #EB8205;
}

.close-btn {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #5d5fef34;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
}

.close-btn:hover {
    border: 1px solid #5d5fef;
    background-color: transparent;
}

.expand-btn {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #ff000036;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
}

.expand-btn:hover {
    border: 1px solid #ff0000;
    background-color: transparent;
}

.more-opt {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
    background-color: var(--bg-white);
}

.more-opt:hover {
    border: 1px solid #D0D7DD;
}

/* campaigns-contents */



.layout-view{
    display: flex;
    gap: 20px;
}

.layout-btn{
    cursor: pointer;
    height: 47px;
    width: 47px;
    border-radius: 8px;
    background-color: #5d5fef23;
    display: grid;
    place-content: center;
    font-size: 28px;
    color:#000;
}
.layout-btn.active,
.layout-btn:hover{
    background-color: #5d5fef;
    color:#fff;
}


.action-btn-icons{
    display: flex;
    gap: 10px;
}
.action-btn-icons .btn{
    background-color: #eb840548;
    color:#EB8205;
    font-size: 20px;
    transition: all 0.5s ease;
}
.action-btn-icons .btn:hover{
    background-color: #EB8205;
    color:#fff;
}
.btn.new-link{
    background-color: #5d5fef23;
    color:#5D5FEF;
}
.btn.new-link:hover{
    background-color: #5D5FEF;
    color:#fff;
}
.btn.delete{
    background-color: #ff00002d;
    color:#ff0000;
}
.btn.delete:hover{
    background-color: #ff0000;
    color:#fff;
}

/* Responsive styles */
@media(max-width:767px) {
    .campaigns-contents input {
        width: 100%;
    }
}
@media(max-width:575px){
    .campaigns-contents form{
        width: 100%;
        margin: 20px 0px;
    }
    
}


/*****grid-view *******/
.common-table table.grid-view thead{
    display: none;
}
.common-table table.grid-view tbody{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    gap: 20px;
}
.common-table table.grid-view tbody tr{
    flex-wrap: wrap;
    position: relative;
}
.common-table table.grid-view tbody tr td{
    padding: 10px;
}
.common-table table.grid-view tbody tr td.library-status{
    order:1;
    flex-basis: 40%;
    max-width: 40%;
}
.common-table table.grid-view tbody tr td.library-file-category{
    order: 2;
    flex-basis: 40%;
    max-width: 40%;
}
.common-table table.grid-view tbody tr td.library-img {
    order: 3;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: 80%;
    max-width: 84%;
}

.common-table table.grid-view tbody tr td.library-img img{
    width: 100%;
}
.common-table table.grid-view tbody tr td.library-file-name {
    order: 5;
    flex-basis: 80% !important;
    max-width: 80%;
}
.common-table table.grid-view tbody tr  td.library-camp-title {
    order: 6;
    flex-basis: 40% !important;
    max-width: 40%;
}
.common-table table.grid-view tbody tr  td.library-file-size {
    order: 7;
    flex-basis: 40% !important;
    max-width: 40%;
}
.common-table table.grid-view tbody tr  td.library-action{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    min-width: unset;
    
}
.common-table table.grid-view tbody tr  td.library-action .action-btn-icons{
    flex-direction: column;
}